.Toolbar {
        display: fixed;
        height: 8vh;
        width: 100%;
        background-color: transparent;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 20px;

        z-index: 90;
        // color: #fff;
}

.brand{
        text-decoration: none;
        color:inherit;
}
.brand:hover{
        color:rgba(0,0,0,.7)
}
.Toolbar h1 {
        font-size: 2.5rem;
        font-weight: 300;
        margin-left: 1.5rem;
}

@media (max-width: 499px) {
        .Toolbar nav {
                display: none;
        }

        .Toolbar {
                justify-content: space-between;
        }
}
