.form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
 }

.container {
        margin: 0 1rem;

        background-color: white;
        width: 100%;
        display: flex;
        flex-direction: column;

        &_body {
                background-color: white;
                width: 100%;

                padding-top: 2rem;
                text-align: center;
        }
        &_heading {
                width: 100%;
                text-transform: uppercase;
                text-align: center;
                color: #fc5185;
                font-size: 2rem;
                margin-top: 1rem;
                letter-spacing: 2px;
        }
}

.signup {
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        background-color: white;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;

        &_Inner {
                margin: 1rem;
                display: flex;
                align-items: center;
                cursor: pointer;

                border: 1px solid #666;
                padding: 2rem 1.5rem;
        }
}

.fontAwesome {
        margin-right: 2rem;
        font-size: 2rem;
        color: #43dde6;
}

@media (min-width: 800px) {
        .signup {
                position: relative;

                &::before {
                        content: '';
                        position: absolute;
                        bottom: 0%;
                        margin: 0 auto;
                        width: 80%;
                        height: 1px;
                        border-bottom: 1px solid #ddd;
                }
        }
}
