.ClothesItems {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 0rem auto;
        width: 100%;

        min-height: 50vh;
        position: relative;

        border-left: 1px solid #eee;
}
.loading {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
}

@media (max-width: 500px) {
        .ClothesItems {
                align-items: center;
                flex-direction: column;
        }
}
