.Shipping {
        display: flex;
        align-items: center;
        justify-content: center;

        & > div {
                margin: 2rem;
        }
}

.Payment form {
        display: flex;
        flex-direction: column;
}
