.links {
        display: flex;
        list-style: none;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        margin: 1.5rem auto;
      
    
        &_item {
               margin:0 1rem;
                font-size: 1.5rem;
                border: none;
                text-decoration: none;
                color: #364f6b;

                &___active {
                        color: #fc5185;
                        border-bottom: 1px solid #999;
                }
        }
}

.container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 92vh;
        background-color: #0e153a;

        &_header {
                display: flex;
                width: 100%;
                margin: 0 auto;
                padding: 2rem 0;
                background-color: white;
        }
     
}


@media (max-width:300px){
        .links{
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &_item{
                        padding-top:1rem;
                }
        }
}
@media (min-width: 700px) {
        .links {
                &_item {
                        padding: 2rem 3rem;
                        border-left: none;
                        border-top: none;
                        border-right: none;
                        margin: 0;
                        border-bottom: 1px solid #999;

                        &___active {
                                border-top: 1px solid #999;
                                border-left: 1px solid #999;
                                border-bottom: none;
                                border-right: 1px solid #999;
                        }
                }
        }
        .container {
                justify-content: center;
                height: 92vh;
                // margin-top:5rem;

        }
}


@media (min-width:900px){
        .container{
                margin-top:.2rem;
        }
}

